<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parks APP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="grid">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Park APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <app-search-park [parks]="parks"></app-search-park>
    <app-show-parks [parks]="parks"></app-show-parks>
  </div>
</ion-content>