<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <button (click)="logout()">Logout</button>
    <ul>
      <div *ngFor="let park of parks">
        <li>{{park.id}} | {{park.name}} | {{park.code}} | {{park.address}} | {{park.discount}} | {{park.distance}}</li>
        <button (click)="openMap(park)"> Navegar para estacionamento</button>
      </div>
    </ul>
  </div>
</ion-content>